@font-face {
    font-family: visitor;
    src: url('./assets/font/visitor2.ttf');
}

body
{
    background-color: #1f1f1f;
    color: white;
    font-family: 'visitor';
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-image: url('./assets/images/nanahi-bg-svg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.canvasstyle
{
    background-color: #1f1f1f;
}

.resowarning
{
    display: none;
    color: red;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0; 
}

.canvascont
{
    margin: auto;
}

.jswarning
{
    width: 100%;
    text-align: center;
    margin: auto;
}

.topnav
{
    background-color: #fdfdfd;
    width: 100%;
    height: 100px;
    box-shadow: 0px 5px 20px 1px #888;
}

.displaybox
{
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
}